@import './mixin';
.generalBox{
    h4{
        @include orangeTitle();
        margin: 6px 6px 0px 6px;
    }
    .partnerLogos{
        width: 95%;
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        align-items: center;
        margin-top: 5px;
        a {
            text-align: center;
            justify-self: center;
            width: 40%;
            img{
                width: 100%;
               
            }
        }
        .large{
            width: 70%;
        }
    }
}
